
@{
    ViewBag.Title = "ButtonBuy";
}

<p>
    <a href="https://asp.net"
       style="background-color: @ViewData["backgroundColor"]; color: @ViewData["color"]"
       class="btn btn-primary btn-lg">
        @ViewData["text"]
    </a>
</p>